section {
  background-color: #eeeeee; }

body {
  font-style: normal;
  line-height: 1.5; }

section,
.container,
.container-fluid {
  position: relative;
  word-wrap: break-word; }

a.myiconfont:hover {
  text-decoration: none; }

.article .lead p,
.article .lead ul,
.article .lead ol,
.article .lead pre,
.article .lead blockquote {
  margin-bottom: 0; }

ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem; }

.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none; }

a {
  font-style: normal;
  font-weight: 400;
  cursor: pointer; }

a, a:hover {
    text-decoration: none; }

figure {
  margin-bottom: 0; }

body {
  color: #232323; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4 {
  line-height: 1;
  word-break: break-word;
  word-wrap: break-word; }

/* 
.mysection-title {
  font-style: normal;
  line-height: 1.2; }

.mysection-subtitle {
  line-height: 1.3; }

*/

.mytext {
    color: grey;
    font-style: normal;
    line-height: 1.6; }

b,
strong {
  font-weight: bold; }

blockquote {
  padding: 10px 0 10px 20px;
  position: relative;
  border-left: 2px solid;
  border-color: #ff3366; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  transition-delay: 9999s;
  transition-property: background-color, color; }

textarea[type='hidden'] {
  display: none; }

body {
  position: relative; }

section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }
  section .mbr-background-video,
  section .mbr-background-video-preview {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0; }

.hidden {
  visibility: hidden; }

.mbr-z-index20 {
  z-index: 20; }

/*! Base colors */
.whitey {
  color: #ffffff; }

.blacky {
  color: #000000; }

.bg-white {
  background-color: #ffffff; }

.bg-black {
  background-color: #000000; }

/*! Text-aligns */
.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

@media (max-width: 767px) {
  .align-left,
  .align-center,
  .align-right,
  .mbr-section-btn,
  .mysection-title {
    text-align: center; } }

/*! Font-weight  */
.mbr-light {
  font-weight: 300; }

.mbr-regular {
  font-weight: 400; }

.mbr-semibold {
  font-weight: 500; }

.mbr-bold {
  font-weight: 700; }

/*! Media  */
.media-size-item {
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -o-flex: 1 1 auto;
  flex: 1 1 auto; }

.media-content {
  -webkit-flex-basis: 100%;
  flex-basis: 100%; }

.media-container-row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start; }
  .media-container-row .media-size-item {
    width: 400px; }

.media-container-column {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  .media-container-column > * {
    width: 100%; }

@media (min-width: 992px) {
  .media-container-row {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; } }
figure {
  overflow: hidden; }

figure[mbr-media-size] {
  transition: width 0.1s; }

.mbr-figure img,
.mbr-figure iframe {
  display: block;
  width: 100%; }

.card {
  background-color: transparent;
  border: none; }

.card-box {
  width: 100%; }

.card-img {
  text-align: center;
  flex-shrink: 0;
  -webkit-flex-shrink: 0; }

.media {
  max-width: 100%;
  margin: 0 auto; }

.mbr-figure {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center; }

.media-container > div {
  max-width: 100%; }

.mbr-figure img,
.card-img img {
  width: 100%; }

@media (max-width: 991px) {
  .media-size-item {
    width: auto !important; }

  .media {
    width: auto; }

  .mbr-figure {
    width: 100% !important; } }

/*! Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: -webkit-inline-flex; }

.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.mysection-btn {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
  font-size: 0; }

.btn-form {
  border-radius: 0; }
  .btn-form:hover {
    cursor: pointer; }

/*! Btn icon margin */
.btn .mbr-iconfont,
.btn.btn-sm .mbr-iconfont {
  cursor: pointer;
  margin-right: 0.5rem; }

.btn.btn-md .mbr-iconfont,
.btn.btn-md .mbr-iconfont {
  margin-right: 0.8rem; }

.mbr-regular {
  font-weight: 400; }

.mbr-semibold {
  font-weight: 500; }

.mbr-bold {
  font-weight: 700; }

[type='submit'] {
  -webkit-appearance: none; }

/*! Map */
.map {
  height: 25rem;
  position: relative; }
  .map iframe {
    width: 100%;
    height: 100%; }


/* Form */
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-width: 3px; }

.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em; }
  .form-control, .form-control:focus {
    border: 1px solid #e8e8e8; }
  .form-active .form-control:invalid {
    border-color: red; }

.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0; }

.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative; }
  .alert.alert-form::after {
    background-color: inherit;
    bottom: -7px;
    content: "";
    display: block;
    height: 14px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    transform: rotate(45deg);
    width: 14px;
    -webkit-transform: rotate(45deg); }

.form-asterisk {
  font-family: initial;
  position: absolute;
  top: -2px;
  font-weight: normal; }


/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal; }

.row {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap; }

.justify-content-center {
  -webkit-justify-content: center; }

.form-inline {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -webkit-align-items: center; }

.card-wrapper {
  -webkit-flex: 1; }

.carousel-control {
  z-index: 10;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center; }

.carousel-controls {
  display: -webkit-flex; }

.media {
  display: -webkit-flex; }

.form-group:focus {
  outline: none; }

.jq-selectbox__select {
  padding: 1.07em 0.5em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.jq-selectbox__dropdown {
  position: absolute;
  top: 100% !important;
  left: 0 !important;
  width: 100% !important; }

.jq-selectbox__trigger-arrow {
  transform: translateY(-50%); }

.jq-selectbox li {
  padding: 1.07em 0.5em; }

input[type='range'] {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.modal-dialog,
.modal-content {
  height: 100%; }

.modal-dialog .carousel-inner {
  height: calc(100vh - 1.75rem); }
  @media (max-width: 575px) {
    .modal-dialog .carousel-inner {
      height: calc(100vh - 1rem); } }

.carousel-item {
  text-align: center; }

.carousel-item img {
  margin: auto; }

.card-img {
  width: auto; }

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important; }

html,
body {
  height: auto;
  min-height: 100vh; }

.dropup .dropdown-toggle::after {
  display: none; }

/*# sourceMappingURL=style.css.map */
.engine {
	position: absolute;
	text-indent: -2400px;
	text-align: center;
	padding: 0;
	top: 0;
	left: -2400px;
}